.locsect.locsect_area {
    .locsect__inner {
        padding: 70px 25px 180px;
    }

    .secttitle {
        margin-bottom: 40px;
    }

    .locsect__info>p {
        margin-bottom: 50px;
    }

    .locsect__mapbrand {
        position: absolute;
        width: 118px;
        height: 111px;
        border-radius: 5px;
        background: rgba(#545A7E, 0.8);
        bottom: 50px;
        left: -30px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 50px;
        }
    }

    .locsect__map {
        position: relative;
        overflow: initial;

        img {
            width: 100%;
            height: 100%;
        }

    }
}

.bluesect.bluesect__area {

    .bluesect__inner {
        padding-bottom: 329px;
    }


    .bluesect__inner {
        flex-wrap: wrap;
    }

    .colbox {
        width: 100%;
        max-width: 100%;
        flex: 0 0 100%;
    }

    .colbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 40px;

        p {
            width: 100%;
            max-width: 600px;
            flex: 0 0 600px;
        }
    }
}

.areasliderwrap {

    .wrappersl {
        margin-top: -270px;
    }


    .wrappersl {
        padding: 0 40px 0 140px;
    }

    .areaslider {
        img {
            border-radius: 10px;
            width: 100%;
        }
    }

    .swiper-pagination {
        bottom: 0;
    }

    .swiper-wrapper {
        padding-bottom: 30px;
    }

    .swiper-pagination-bullet {
        background: #9BDD01;
        opacity: 0.3;
    }

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        opacity: 1;
    }

}

.areasliderwrap,
.areacards {

    .container.line:after,
    .container.line:before {
        background-color: rgba(68, 68, 68, 0.15);
    }

}

.areacards {
    .container {
        padding: 190px 0 160px;
    }

}

.areacards__left {
    padding-left: 40px;
    position: relative;

    .secttitle {
        font-size: 55px;
        color: #141A3E;
        line-height: 130%;
        font-family: "Koulen", sans-serif;
        position: relative;
        z-index: 2;
    }

    .abs {
        position: absolute;
        left: 0;
        top: 0;
        max-width: 255px;
    }
}

.cardwrapper {
    padding-right: 40px;
}

.areacard {
    background: url('../img/area/cardbg.png') no-repeat top left / cover;
    padding: 30px 25px 25px 25px;
    min-height: 440px;

    .imgwrap {
        text-align: right;
        margin-bottom: 35px;

        img {
            display: inline-block;
            max-width: 110px;
        }
    }

    .count {
        color: #9BDD01;
        font-size: 25px;
        font-family: "Koulen", sans-serif;
        margin-bottom: 2px;
        line-height: 130%;
    }

    .title {
        color: #fff;
        font-size: 30px;
        text-transform: uppercase;
        font-family: "Koulen", sans-serif;
        line-height: 130%;
        margin-bottom: 20px;
    }

    p {
        margin: 0;
        color: #B9B9B9;

        a {
            text-decoration: underline;
            transition: 0.3s;

            &:hover {
                color: #fff;
            }
        }
    }
}

.cardwrapper {
    position: relative;
    z-index: 2;
}

@media(max-width:1399.8px) {

    .areasliderwrap .wrappersl {
        padding: 0 20px 0 80px;
    }
    
    .areacards .container {
        padding: 100px 0;
    }

    .areacard .imgwrap {
        margin-bottom: 20px;

        img {
            max-width: 80px;
        }
    }

    .areacard p {
        font-size: 15px;
    }

    .areacard .count {
        font-size: 21px;
    }

    .areacard .title {
        margin-bottom: 10px;
        font-size: 24px;
    }

    .areacard {
        min-height: 410px;
    }

}

@media(max-width:1199.8px) {
    .areacards__left .secttitle {
        font-size: 48px;

        br {
            display: none;
        }
    }

    .locsect.locsect_area .locsect__inner {
        padding-bottom: 100px;
    }

    .areasliderwrap .wrappersl {
        padding: 0 0 0 55px;
    }

    .areacards__left {
        margin-bottom: 30px;
    }
}

@media(max-width:991.8px) {
    .areacards__left .secttitle {
        font-size: 42px;
    }

    .bluesect.bluesect__area .colbox p {
        max-width: 100%;
        flex: 0 0 100%;
        margin-bottom: 20px;
    }

    .bluesect.bluesect__area .colbox {
        margin-top: 20px;
    }

    .bluesect.bluesect__area .bluesect__inner {
        padding-bottom: 190px;
    }

    .areasliderwrap .wrappersl {
        margin-top: -130px;
    }
}

@media(max-width:767.8px) {
    .areacards__left .secttitle {
        font-size: 36px;
    }

    .areacards .container {
        padding: 70px 0;
    }

    .areacard {
        padding: 20px 15px 15px 15px;

        p {
            font-size: 14px;
        }
    }

    .areacards__left {
        padding-left: 15px;
    }
    
    .cardwrapper {
        padding: 0 15px;
    }
}

@media(max-width:575.8px) {

    .locsect.locsect_area .locsect__inner {
        padding: 70px 5px 40px;
    }

    .locsect.locsect_area .secttitle {
        margin-bottom: 20px;
    }

    .areasliderwrap .wrappersl {
        padding: 0 15px 0 20px;
    }

    .bluesect.bluesect__area .bluesect__inner {
        padding-bottom: 110px;
    }

    .areasliderwrap .wrappersl {
        margin-top: -70px;
    }

    .areacards__left .secttitle {
        font-size: 32px;
    }

    .areacards .container {
        padding-top: 50px;
    }

    .areacard {
        max-width: 300px;
        margin-bottom: 30px;
        min-height: 370px;
    }

    .areacards .container {
        padding-bottom: 30px;
    }
}
